<style>

</style>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
    <div class="card-info col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-header">
            <b>Listado de entrenos</b>
        </div>     
        <div  id="panelMicro" class="card-body col-xs-12 col-sm-12 col-md-12 col-lg-12 row">

        </div>

    </div>
    <div class="card-info col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card-header">
            <b>Microciclo</b>
        </div>
        <div id="microcicloDiv" class="card-body ui-widget-header">
            <p></p>
        </div>
    </div>
</div>
<script>
    function getEntrenos(){
        var entrenos =[
            {
                
                "deporte":"Natación",
                "distancia":"800",
                "vol":"m",
                "zonas":"1,2,3",
                "descripcion":"4x100 crol + 8x50 tecnicos"

            },
            {
              
                "deporte":"Ciclismo",
                "distancia":"40",
                "vol":"km",
                "zonas":"1,2",
                "descripcion":"40km suaves"

            },
            {
              
                "deporte":"Natacion",
                "distancia":"2000",
                "vol":"m",
                "zonas":"1,2",
                "descripcion":"20x100 crol "

            },
            {
              
              "deporte":"Natacion",
              "distancia":"2000",
              "vol":"m",
              "zonas":"1,2",
              "descripcion":"20x100 crol "

          },
          {
              
              "deporte":"Natacion",
              "distancia":"2000",
              "vol":"m",
              "zonas":"1,2",
              "descripcion":"20x100 crol "

          },
          {
              
              "deporte":"Natacion",
              "distancia":"2000",
              "vol":"m",
              "zonas":"1,2",
              "descripcion":"20x100 crol "

          },
          {
              
              "deporte":"Natacion",
              "distancia":"2000",
              "vol":"m",
              "zonas":"1,2",
              "descripcion":"20x100 crol "

          },
          {
              
              "deporte":"Natacion",
              "distancia":"2000",
              "vol":"m",
              "zonas":"1,2",
              "descripcion":"20x100 crol "

          },
        ];
        return entrenos;
       
    }
    $(function( ){
        var entrenamientos =getEntrenos();
       
        
        var filaDia=``;  
        entrenamientos.forEach((item,index) => {
           
            filaDia += `<div id="entreno`+index+`" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-default">
                            <div class="card-header">                                
                                  Deporte: `+item.deporte+` Distancia: `+item.distancia+` `+item.vol+` Zonas: ` +item.zonas+`                                
                            </div> 
                            <div class="card-body infoentreno">                    
                               <p>`+item.descripcion+`</p>
                             </div>
                        </div><br>`;
           
        }); 
        $("#panelMicro").append(filaDia);
          
           
        
        
   

    });

    $("#entreno0").draggable();
    $("#microcicloDiv").droppable({
            drop: function( event, ui ) {
            $( this )
            .addClass( "ui-state-highlight" )
            .find( "p" )
                .html( "Copiado!" );
        }
    });
</script>